<!DOCTYPE html>
<html>
<head>
  <title>Delivery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<% if notice %>
	 <p class="alert alert-info"><%= notice %></p>
	<% end %>
	<% if alert %>
   <p class="aler alert-dangert"><%= alert %></p>
  <% end %>
	<% flash.each do |type, message| %>
		<div class="alert alert-<%= type %>"><%= message %></div>
	<% end %>
	<%= yield %>
</div>
</body>
</html>
